.table-header{
    display: grid;
    grid-template-columns: repeat(12,100px);

}
.table-header span{
    border: 1px solid black;
    background-color: rgb(203,222,243);
}

.table-main{
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: auto;
}

.table-main span {
    border: 1px solid black;
}